#d1{
    background-color: red; 
    width: 100px;
    height: 100px;
    /* margin: 10px 20px 30px 40px; */
    /* padding: 10px 20px 30px 40px; */
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 50%;
    
    
}

#d2{
    background-color: green; 
    width: 300px;
    height: 200px;
    position: relative;
    left: 450px;
    top: 100px;
}

.c1{
    background-color: green; 
    width: 100px;
    height: 100px;
}